.overview{
    padding: 0 4% 0 4%;
}

.overview h2{
    margin-top: 0;
}

.options{
    display: flex;
    justify-content: space-between;
    height: 8%;
}

.options div{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.options>div>div{
    width: 50%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.overview .selected-filter{
    background-color: darkslategray;
    color: white;
}

.overview .view-type{
    width: 40%;
}
.overview .view-type img{
    width: 40%;
}

.overview .stocks{
    display: flex;
    height: 33%;
    margin-top: 2%;
}

.overview .stocks>div{
    width: 22%;
    margin: 1%;
    border: 1px solid gray;
    background-color: white;
    border-radius: 32px;
    padding: 1%;
}
.overview .stocks>:nth-child(1){
    background-color: rgb(216, 105, 105);
}

.overview .stock>div{
    display: flex;
    height: 16%;
    width: 100%;
    margin: 1%;
}
.overview .stock>:nth-child(1){
    height: 25%;
}
.overview .stock>:nth-last-child(1){
    height: 25%;
    display: flex;
    justify-content: center;
}
.overview .stock>:nth-last-child(2){
    display: flex;
    justify-content: center;
}
.overview h4,p{
    margin: 0;
    margin-left: 12%;
}
.overview .stock>div>img{
    width: 20%;
}

.transactions{
    width: 100%;
    margin-top: 4%;
}

.transactions h2{
    margin-bottom: 0;
}

.transactions div{
    display: flex;
    justify-content: space-between;
}

.transactions div *{
    margin-top: 0;
}

.transactions table{
    width: 100%;
}

.transactions tbody>:nth-child(2){
    background-color: white;
    border-radius: 32px;
}

.transactions tr{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}