.users{
    padding: 0 4% 0 4%;
}

.users h2{
    margin-top: 0;
}

.options{
    display: flex;
    justify-content: space-between;
    height: 8%;
}

.users .options>:nth-child(1){
    background-color: darkslategray;
    color: white;
}

.filter{
    width: 13%;
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: 1%;
}
.users .search-box{
    width: 25%;
    height: 50%;
}

.search-box{
    background-color: white;
    padding: 1%;
    padding-left: 0.2%;
}

.search-box input{
    width: 70%;
    height: 90%;
    border: none;
}

.search-box img{
    width: 28%;
    height: 90%;
}

.users .view-type{
    width: 10%;
}

.users .view-type img{
    width: 40%;
    height: 70%;
}

.user-cards{
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}

.user-cards div{
    height: 22%;
    width: 30%;
    border-radius: 8px;
    margin: 7px;
    position: relative;
    background-color: white;
}

.view-inv{
    font-size: 11px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(28, 24, 48);
    cursor: pointer;
}